<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>SpringMVC</display-name>

    <!--https://www.codejava.net/coding/jsp-servlet-jdbc-mysql-create-read-update-delete-crud-example-->

    <!--The <servlet> and <servlet-mapping> elements declare and specify URL mapping for the ControllerServlet class.-->
    <!--The URL pattern /means this is the default servlet to handle all requests.-->
    <servlet>
        <servlet-name>controllerServlet</servlet-name>
        <servlet-class>com.mitrais.rms.controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllerServlet</servlet-name>
        <url-pattern>/rms-servlet-web/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>